### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [78]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os 
import csv

# File to Load
heroes_pymoli_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(heroes_pymoli_path)

In [2]:
#print headers
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#Display all unique screennames in a list
unique_sn=purchase_data_df["SN"].unique()
unique_sn

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [6]:
#Get the count of unique screenames 
player_count=len(unique_sn)
player_count

576

## Purchasing Analysis (Total)

In [15]:
#Display all the unique items in the list 
unique_id=purchase_data_df["Item ID"].unique()
unique_id

array([108, 143,  92, 100, 131,  81, 169, 162,  21, 136,  95, 116,   4,
       165,  98,  40, 161,  82,  89,  57, 168,  24, 151, 141, 178,  71,
        96, 119,  37, 140, 179, 133,  44, 160,  53,  76,  73, 172,   7,
        72,   9, 181, 102, 170, 138, 110,  22,  15,  60, 176,  25,  84,
        80, 152, 105, 125,  56,  34,   6,  27,  29,  68, 124,  88,  20,
        50, 174,  12,  33, 129,  17,  59,  39, 164, 134, 101, 109,  10,
        54,  99,  85, 139,  41, 150,  13, 117,  78,  87,   1,  62,  75,
        58,  74, 120, 145,   0,   2, 146, 158,   8, 175,  46, 148, 111,
         3,  65, 183,  30, 157, 123,   5, 144, 103, 135,  51, 154,  32,
        77,  11,  63,  69, 113, 153, 114, 149, 159, 137, 142,  66,  97,
       163, 107,  16,  42,  19,  83,  23,  28,  94, 182,  70,  18, 166,
       173, 167, 155, 128, 156, 147,  35, 171,  52, 106,  38,  91, 118,
        67,  45,  49, 121,  79,  14,  43,  31,  64,  86,  93,  26, 122,
        61,  48, 112, 126, 115,  55, 132, 127,  47, 130,  90, 177, 104,
       180], dtype=int64)

In [16]:
#Get the count of all the unique items in the list
unique_idcount=len(unique_id)
unique_idcount

183

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
average_price=purchase_data_df["Price"].mean()
average_price

3.050987179487176

In [37]:
total_purchases=purchase_data_df["Purchase ID"].count()
total_purchases

780

In [38]:
total_revenue=purchase_data_df["Price"].sum()
total_revenue

2379.77

In [58]:
purchasing_analysis_data={
    "Number of Unique Items":[unique_idcount], "Average Price":[average_price], "Number of Purchases":[total_purchases],"Total Revenue":[total_revenue]}
analysis_df=pd.DataFrame(purchasing_analysis_data)
analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [60]:
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [17]:
reduced_purchase_data_df = purchase_data_df.loc[:, ["Gender","SN"]]
reduced_purchase_data_df

                    Gender               SN
0                     Male          Lisim78
1                     Male      Lisovynya38
2                     Male       Ithergue48
3                     Male    Chamassasya86
4                     Male        Iskosia90
5                     Male          Yalae81
6                     Male        Itheria73
7                     Male      Iskjaskst81
8                     Male        Undjask33
9    Other / Non-Disclosed      Chanosian48
10                    Male        Inguron55
11                    Male     Haisrisuir60
12                    Male     Saelaephos52
13                    Male      Assjaskan73
14                    Male      Saesrideu94
15                  Female        Lisassa64
16                    Male        Lisirra25
17                    Male        Zontibe81
18                  Female        Reunasu60
19                    Male        Chamalo71
20                    Male     Iathenudil29
21                    Male    Phiarithdeu40
22   Other / Non-Disclosed     Siarithria38
23                    Male         Eyrian71
24                    Male          Siala43
25                    Male        Lisirra87
26                    Male       Lirtossa84
27                    Male          Eusri44
28                    Male           Aela59
29                    Male          Tyida79
..                     ...              ...
750                   Male         Iljask75
751                   Male      Lisjaskan36
752                   Male    Mindjasksya61
753                   Male   Frichirranya75
754                 Female  Pheosurllorin41
755                   Male         Raesty92
756                   Male          Ilast79
757                   Male        Eratiel90
758                   Male           Iral74
759                   Male      Tyaelorap29
760                   Male       Aithelis62
761                   Male          Assim27
762                   Male           Asur53
763                   Male     Lassilsala30
764                   Male     Saedaiphos46
765                   Male          Irith83
766                   Male     Aelastirin39
767                 Female          Ilmol66
768                   Male     Assassasta79
769                   Male        Ilosian36
770                   Male       Lirtosia63
771                   Male     Iskossasda43
772                   Male           Asur53
773                   Male           Hala31
774                   Male       Jiskjask80
775                 Female       Aethedru70
776                   Male           Iral74
777                   Male       Yathecal72
778                   Male          Sisur91
779                   Male        Ennrian78

[780 rows x 2 columns]

In [117]:
#Groupby Gender of unique names
groupby_gender = reduced_purchase_data_df.groupby(["Gender"]).count().reset_index()

In [123]:
# Created a new column % and set it equal to column SN divided by the sum of column SN
groupby_gender["%"] = groupby_gender["SN"] / groupby_gender["SN"].sum()
groupby_gender

gender_counts2=reduced_purchase_data_df["Gender"].value_counts()
gender_counts2

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [47]:
reduced_purchase_data_df = purchase_data_df.loc[:, ["Gender","SN","Price"]]
reduced_purchase_data_df

                    Gender               SN  Price
0                     Male          Lisim78   3.53
1                     Male      Lisovynya38   1.56
2                     Male       Ithergue48   4.88
3                     Male    Chamassasya86   3.27
4                     Male        Iskosia90   1.44
5                     Male          Yalae81   3.61
6                     Male        Itheria73   2.18
7                     Male      Iskjaskst81   2.67
8                     Male        Undjask33   1.10
9    Other / Non-Disclosed      Chanosian48   3.58
10                    Male        Inguron55   4.74
11                    Male     Haisrisuir60   2.67
12                    Male     Saelaephos52   4.18
13                    Male      Assjaskan73   1.70
14                    Male      Saesrideu94   4.86
15                  Female        Lisassa64   2.89
16                    Male        Lisirra25   2.52
17                    Male        Zontibe81   1.76
18                  Female        Reunasu60   4.90
19                    Male        Chamalo71   4.64
20                    Male     Iathenudil29   4.60
21                    Male    Phiarithdeu40   1.48
22   Other / Non-Disclosed     Siarithria38   3.81
23                    Male         Eyrian71   3.40
24                    Male          Siala43   3.19
25                    Male        Lisirra87   4.23
26                    Male       Lirtossa84   1.61
27                    Male          Eusri44   3.09
28                    Male           Aela59   4.32
29                    Male          Tyida79   3.16
..                     ...              ...    ...
750                   Male         Iljask75   3.61
751                   Male      Lisjaskan36   3.36
752                   Male    Mindjasksya61   2.60
753                   Male   Frichirranya75   4.23
754                 Female  Pheosurllorin41   4.05
755                   Male         Raesty92   3.15
756                   Male          Ilast79   2.05
757                   Male        Eratiel90   4.60
758                   Male           Iral74   4.03
759                   Male      Tyaelorap29   3.77
760                   Male       Aithelis62   2.38
761                   Male          Assim27   1.70
762                   Male           Asur53   1.44
763                   Male     Lassilsala30   1.75
764                   Male     Saedaiphos46   4.07
765                   Male          Irith83   2.07
766                   Male     Aelastirin39   4.14
767                 Female          Ilmol66   4.88
768                   Male     Assassasta79   4.88
769                   Male        Ilosian36   4.58
770                   Male       Lirtosia63   1.02
771                   Male     Iskossasda43   4.35
772                   Male           Asur53   3.58
773                   Male           Hala31   1.02
774                   Male       Jiskjask80   4.19
775                 Female       Aethedru70   3.54
776                   Male           Iral74   1.63
777                   Male       Yathecal72   3.46
778                   Male          Sisur91   4.19
779                   Male        Ennrian78   4.60

[780 rows x 3 columns]

In [127]:
Table_Male = reduced_purchase_data_df[reduced_purchase_data_df.Gender=="Male"]
TotalMale=Table_Male["Price"].sum()
AveragePurchasePriceM=TotalMale/len(Table_Male)
AvgPurchasePriceM=round(AveragePurchasePriceM,2)

In [60]:
NewTable=reduced_purchase_data_df.drop_duplicates("SN")

                    Gender              SN  Price
0                     Male         Lisim78   3.53
1                     Male     Lisovynya38   1.56
2                     Male      Ithergue48   4.88
3                     Male   Chamassasya86   3.27
4                     Male       Iskosia90   1.44
5                     Male         Yalae81   3.61
6                     Male       Itheria73   2.18
7                     Male     Iskjaskst81   2.67
8                     Male       Undjask33   1.10
9    Other / Non-Disclosed     Chanosian48   3.58
10                    Male       Inguron55   4.74
11                    Male    Haisrisuir60   2.67
12                    Male    Saelaephos52   4.18
13                    Male     Assjaskan73   1.70
14                    Male     Saesrideu94   4.86
15                  Female       Lisassa64   2.89
16                    Male       Lisirra25   2.52
17                    Male       Zontibe81   1.76
18                  Female       Reunasu60   4.90
19                    Male       Chamalo71   4.64
20                    Male    Iathenudil29   4.60
21                    Male   Phiarithdeu40   1.48
22   Other / Non-Disclosed    Siarithria38   3.81
23                    Male        Eyrian71   3.40
24                    Male         Siala43   3.19
25                    Male       Lisirra87   4.23
26                    Male      Lirtossa84   1.61
27                    Male         Eusri44   3.09
28                    Male          Aela59   4.32
29                    Male         Tyida79   3.16
..                     ...             ...    ...
728                   Male    Chanosiaya39   1.97
729                   Male       Assylla81   4.18
730                   Male       Aidaira26   4.23
731                 Female        Eudanu84   1.02
733                   Male      Chamiman85   4.40
736                   Male     Tyialisti80   4.14
737                   Male       Marundi65   1.75
738                   Male         Eusur90   1.60
739                   Male   Mindirranya33   3.87
741                   Male    Phiallylis33   4.58
742                   Male          Isty55   4.08
743                   Male     Frichilsa31   1.44
745                   Male      Chanista95   3.16
746                   Male      Aellyria80   3.08
748                   Male   Rastynusuir31   2.27
750                   Male        Iljask75   3.61
751                   Male     Lisjaskan36   3.36
752                   Male   Mindjasksya61   2.60
753                   Male  Frichirranya75   4.23
756                   Male         Ilast79   2.05
757                   Male       Eratiel90   4.60
761                   Male         Assim27   1.70
765                   Male         Irith83   2.07
769                   Male       Ilosian36   4.58
771                   Male    Iskossasda43   4.35
773                   Male          Hala31   1.02
774                   Male      Jiskjask80   4.19
775                 Female      Aethedru70   3.54
777                   Male      Yathecal72   3.46
778                   Male         Sisur91   4.19

[576 rows x 3 columns]

In [87]:
UniqueM= NewTable[NewTable.Gender=="Male"]
Per=TotalMale/len(UniqueM)
AvgPersonMales=round(Per,2)

In [80]:
DataMale={"Total Purchase Value":TotalMale, "Average Purchase Price":AvgPurchasePrice,"Average Purchase per Person":AvgPersonMales}
DataMale

{'Total Purchase Value': 1967.64,
 'Average Purchase Price': 3.02,
 'Average Purchase per Person': 4.07}

In [86]:
Table_Female = reduced_purchase_data_df[reduced_purchase_data_df.Gender=="Female"]
TotalFemale=Table_Female["Price"].sum()
AveragePurchasePriceF=TotalFemale/len(Table_Female)
AvgPurchasePriceF=round(AveragePurchasePriceF,2)

In [88]:
UniqueF= NewTable[NewTable.Gender=="Female"]
PerF=TotalFemale/len(UniqueF)
AvgPersonFemales=round(PerF,2)

In [89]:
DataFemale={"Total Purchase Value":TotalFemale, "Average Purchase Price":AvgPurchasePriceF,"Average Purchase per Person":AvgPersonFemales}
DataFemale

{'Total Purchase Value': 361.94,
 'Average Purchase Price': 3.2,
 'Average Purchase per Person': 4.47}

In [104]:
Table_Other = reduced_purchase_data_df[reduced_purchase_data_df.Gender=="Other / Non-Disclosed"]
TotalOther=Table_Other["Price"].sum()
Table_Other
AveragePurchasePriceO=TotalOther/len(Table_Other)
AvgPurchasePriceO=round(AveragePurchasePriceO,2)

In [109]:
UniqueO = NewTable[NewTable.Gender=="Other / Non-Disclosed"]
PerO=TotalOther/len(UniqueO)
AvgPersonOther=round(PerO,2)

In [110]:
DataOther={"Total Purchase Value":TotalOther, "Average Purchase Price":AvgPurchasePriceO,"Average Purchase per Person":AvgPersonOther}
DataOther

{'Total Purchase Value': 50.19,
 'Average Purchase Price': 3.35,
 'Average Purchase per Person': 4.56}

In [128]:
gender_purchases_analysis={
    "Purchase Count":[gender_counts2.Female,gender_counts2.Male,gender_counts2["Other / Non-Disclosed"]],
    "Average Purchase Price":["$" + str(AvgPurchasePriceF),"$" + str(AvgPurchasePriceM),"$" + str(AvgPurchasePriceO)],
    "Total Purchase Value":["$" + str(TotalFemale),"$" + str(TotalMale),"$" + str(TotalOther)],
    "Average Total Purchase Per Person":["$" + str(AvgPersonFemales), "$" + str(AvgPersonMales), "$" + str(AvgPersonOther)]
}
gender_analysis_df=pd.DataFrame(gender_purchases_analysis, index =['Female','Male','Other / Non-Disclosed'])
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [132]:
reduced_purchase_data_df2=purchase_data_df.loc[:,["SN","Age"]]
df3 = reduced_purchase_data_df2.drop_duplicates(["SN", "Age"])

In [135]:
bins = [0,9,14,19,24,29,34,39,50]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
pd.cut(df3["Age"], bins, labels=group_names).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

## Age Demographics

In [139]:
df3["Count"] = pd.cut(df3["Age"], bins, labels=group_names)
df3.head()
ted_group = df3.groupby("Count")
print(ted_group["Age"].count())

Count
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

C:\Users\haris\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [143]:
age= []
for i in range (0,8):
    age.append(round(ted_group["Age"].count()[i]))
print(age)

[17, 22, 107, 258, 77, 52, 31, 12]

In [157]:
L = []
for i in range(0,8):
    L.append(round(ted_group["Age"].count()[i]/ted_group["Age"].count().sum()* 100,2))
print(L)

[2.95, 3.82, 18.58, 44.79, 13.37, 9.03, 5.38, 2.08]

In [165]:
age_analysis={
    "Total Count": age, "Percentage Players": L
}
age_analysis_df = pd.DataFrame(age_analysis, index = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"])
age_analysis_df

       Total Count  Percentage Players
<10             17                2.95
10-14           22                3.82
15-19          107               18.58
20-24          258               44.79
25-29           77               13.37
30-34           52                9.03
35-39           31                5.38
40+             12                2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [167]:
df3=purchase_data_df.loc[:,["SN","Age","Price"]]
df22=df3.drop_duplicates(["SN","Age","Price"])
df3.head()

              SN  Age  Price
0        Lisim78   20   3.53
1    Lisovynya38   40   1.56
2     Ithergue48   24   4.88
3  Chamassasya86   24   3.27
4      Iskosia90   23   1.44

In [169]:
df3["Count"] = pd.cut(df3["Age"], bins,labels =group_names)
df3.head()

              SN  Age  Price  Count
0        Lisim78   20   3.53  20-24
1    Lisovynya38   40   1.56    40+
2     Ithergue48   24   4.88  20-24
3  Chamassasya86   24   3.27  20-24
4      Iskosia90   23   1.44  20-24

In [172]:
Ten = df3[df3.Count== "<10"]
Ten.head()
totalPurchaseTen = Ten["Price"].sum()
AvgTen = round(totalPurchaseTen/len(Ten),2)
Avg_PPTen=round(totalPurchaseTen/age[0],2)
print(totalPurchaseTen)
print(AvgTen)
print(Avg_PPTen)

77.13
3.35
4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [177]:
Spenders=purchase_data_df[["SN","Price"]]
SN_group =Spenders.groupby(["SN"])
s2 = SN_group.count()
s1 = SN_group.sum()
s = SN_group.mean()
s2

                 Price
SN
Adairialis76         1
Adastirin33          1
Aeda94               1
Aela59               1
Aelaria33            1
Aelastirin39         2
Aelidru27            1
Aelin32              3
Aelly27              2
Aellynun67           1
Aellyria80           1
Aelollo59            2
Aenarap34            1
Aeral43              1
Aeral68              1
Aeral97              1
Aeralria27           1
Aeralstical35        1
Aeri84               1
Aerillorin70         1
Aerithllora36        2
Aerithnucal56        1
Aerithnuphos61       1
Aerithriaphos45      1
Aerithriaphos46      1
Aesri53              1
Aesty53              2
Aestysu37            2
Aesur96              1
Aesurstilis64        1
...                ...
Undosia27            1
Undosian34           2
Undotesta33          1
Wailin72             1
Yadacal26            2
Yadaisuir65          1
Yadam35              1
Yadanu52             1
Yadaphos40           2
Yalae81              2
Yalaeria91           1
Yaliru88             1
Yalo85               1
Yalostiphos68        1
Yana46               1
Yarithllodeu72       1
Yarithrgue83         1
Yarithrin84          1
Yarithsurgue62       1
Yarolwen77           1
Yasrisu92            1
Yastyriaphos75       1
Yasur35              1
Yasur85              1
Yathecal72           1
Yathecal82           3
Yathedeu43           2
Yoishirrala98        1
Zhisrisu83           2
Zontibe81            3

[576 rows x 1 columns]

In [178]:
merge_table = pd.merge(s2,s1, on="SN")
merge_table2 = pd.merge(merge_table,s,on="SN")
merge_table2

                 Price_x  Price_y     Price
SN
Adairialis76           1     2.28  2.280000
Adastirin33            1     4.48  4.480000
Aeda94                 1     4.91  4.910000
Aela59                 1     4.32  4.320000
Aelaria33              1     1.79  1.790000
Aelastirin39           2     7.29  3.645000
Aelidru27              1     1.09  1.090000
Aelin32                3     8.98  2.993333
Aelly27                2     6.79  3.395000
Aellynun67             1     3.74  3.740000
Aellyria80             1     3.08  3.080000
Aelollo59              2     5.63  2.815000
Aenarap34              1     2.96  2.960000
Aeral43                1     4.40  4.400000
Aeral68                1     4.00  4.000000
Aeral97                1     4.80  4.800000
Aeralria27             1     4.09  4.090000
Aeralstical35          1     2.96  2.960000
Aeri84                 1     1.61  1.610000
Aerillorin70           1     3.33  3.330000
Aerithllora36          2     8.64  4.320000
Aerithnucal56          1     4.40  4.400000
Aerithnuphos61         1     4.91  4.910000
Aerithriaphos45        1     1.56  1.560000
Aerithriaphos46        1     2.18  2.180000
Aesri53                1     1.76  1.760000
Aesty53                2     3.91  1.955000
Aestysu37              2     5.38  2.690000
Aesur96                1     2.21  2.210000
Aesurstilis64          1     1.03  1.030000
...                  ...      ...       ...
Undosia27              1     3.77  3.770000
Undosian34             2     8.30  4.150000
Undotesta33            1     4.74  4.740000
Wailin72               1     2.73  2.730000
Yadacal26              2     6.54  3.270000
Yadaisuir65            1     4.09  4.090000
Yadam35                1     2.48  2.480000
Yadanu52               1     2.38  2.380000
Yadaphos40             2     5.35  2.675000
Yalae81                2     6.69  3.345000
Yalaeria91             1     1.06  1.060000
Yaliru88               1     3.03  3.030000
Yalo85                 1     3.65  3.650000
Yalostiphos68          1     4.40  4.400000
Yana46                 1     3.55  3.550000
Yarithllodeu72         1     3.75  3.750000
Yarithrgue83           1     3.45  3.450000
Yarithrin84            1     4.14  4.140000
Yarithsurgue62         1     4.94  4.940000
Yarolwen77             1     4.43  4.430000
Yasrisu92              1     3.44  3.440000
Yastyriaphos75         1     4.75  4.750000
Yasur35                1     4.48  4.480000
Yasur85                1     1.10  1.100000
Yathecal72             1     3.46  3.460000
Yathecal82             3     6.22  2.073333
Yathedeu43             2     6.02  3.010000
Yoishirrala98          1     4.58  4.580000
Zhisrisu83             2     7.89  3.945000
Zontibe81              3     8.03  2.676667

[576 rows x 3 columns]

In [179]:
Popular=purchase_data_df[["Item ID", "Item Name","Price"]]
Popular.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [180]:
Popular_group=Popular.groupby(["Item Name", "Item ID"])
Popular_group
p1= Popular_group.count()
p2= Popular_group.sum()
p1
p2

                                                  Price
Item Name                                Item ID
Abyssal Shard                            162      13.35
Aetherius, Boon of the Blessed           137      16.95
Agatha                                   120      18.48
Alpha                                    130       6.21
Alpha, Oath of Zeal                      79       12.15
Alpha, Reach of Ending Hope              47        3.58
Amnesia                                  22       13.08
Apocalyptic Battlescythe                 93       11.82
Arcane Gem                               84       11.37
Avenger                                  102      20.64
Azurewrath                               160      26.40
Betrayal, Whisper of Grieving Widows     39       19.70
Betrayer                                 90        2.94
Blade of the Grave                       172      12.56
Blazefury, Protector of Delusions        89       13.92
Blazeguard, Reach of Eternity            128      24.55
Blindscythe                              100      16.35
Blood Infused Guardian                   144      11.64
Blood-Forged Skeletal Spine              96       18.54
Bloodlord's Fetish                       4         8.50
Bone Crushing Silver Skewer              165      19.44
Bonecarvin Battle Axe                    44       11.90
Brimstone                                11       18.25
Brutality Ivory Warmace                  75       19.36
Celeste                                  91        4.17
Celeste, Incarnation of the Corrupted    67       13.84
Chaos, Ender of the End                  29        9.90
Conqueror Adamantite Mace                65       21.20
Crucifer                                 1         9.78
                                         23        1.99
...                                                 ...
Thorn, Conqueror of the Corrupted        9        10.92
Thorn, Satchel of Dark Souls             7         9.31
Thunderfury Scimitar                     163      17.25
Toothpick                                182      12.09
Torchlight, Bond of Storms               18        9.30
Tranquility, Razor of Black Magic        149       8.75
Trickster                                31        3.10
Twilight's Carver                        123       9.12
Undead Crusader                          134       4.50
Unending Tyranny                         122       8.55
Unholy Wand                              26        2.24
Vengeance Cleaver                        53       14.35
Venom Claymore                           124       5.16
Verdict                                  2        14.88
Victor Iron Spikes                       66       17.60
Vindictive Glass Edge                    55        6.81
War-Forged Gold Deflector                155       5.05
Warmonger, Gift of Suffering's End       148      12.09
Warped Diamond Crusader                  135       4.20
Warped Fetish                            24       19.05
Warped Iron Scimitar                     146      15.50
Whistling Mithril Warblade               125       2.00
Winter's Bite                            72       30.16
Winterthorn, Defender of Shifting Worlds 177       4.16
Woeful Adamantite Claymore               175      13.44
Wolf                                     60       28.32
Wolf, Promise of the Moonwalker          179      26.88
Worldbreaker                             112      10.40
Yearning Crusher                         74       12.54
Yearning Mageblade                       114      19.10

[183 rows x 1 columns]

In [181]:
merge_popular = pd.merge(p1,p2, on=["Item Name", "Item ID"])
m= pd.merge(merge_popular, Popular, on=["Item Name"])
m1=m.drop_duplicates(["Item ID", "Item Name"])
m1

,Item Name,Price_x,Price_y,Item ID,Price
0,Abyssal Shard,5,13.35,162,2.67
5,"Aetherius, Boon of the Blessed",5,16.95,137,3.39
10,Agatha,6,18.48,120,3.08
16,Alpha,3,6.21,130,2.07
19,"Alpha, Oath of Zeal",3,12.15,79,4.05
22,"Alpha, Reach of Ending Hope",1,3.58,47,3.58
23,Amnesia,6,13.08,22,2.18
29,Apocalyptic Battlescythe,6,11.82,93,1.97
35,Arcane Gem,3,11.37,84,3.79
38,Avenger,6,20.64,102,3.44
44,Azurewrath,6,26.40,160,4.40
50,"Betrayal, Whisper of Grieving Widows",5,19.70,39,3.94
55,Betrayer,1,2.94,90,2.94
56,Blade of the Grave,4,12.56,172,3.14
60,"Blazefury, Protector of Delusions",3,13.92,89,4.64
63,"Blazeguard, Reach of Eternity",5,24.55,128,4.91
68,Blindscythe,5,16.35,100,3.27
73,Blood Infused Guardian,6,11.64,144,1.94
79,Blood-Forged Skeletal Spine,6,18.54,96,3.09
85,Bloodlord's Fetish,5,8.50,4,1.70
90,Bone Crushing Silver Skewer,4,19.44,165,4.86
94,Bonecarvin Battle Axe,5,11.90,44,2.38
99,Brimstone,5,18.25,11,3.65
104,Brutality Ivory Warmace,8,19.36,75,2.42
112,Celeste,1,4.17,91,4.17
113,"Celeste, Incarnation of the Corrupted",4,13.84,67,3.46
117,"Chaos, Ender of the End",5,9.90,29,1.98
122,Conqueror Adamantite Mace,5,21.20,65,4.24
127,Crucifer,3,9.78,1,3.26
128,Crucifer,3,9.78,23,1.99
...,...,...,...,...,...
685,"Thorn, Conqueror of the Corrupted",4,10.92,9,2.73
689,"Thorn, Satchel of Dark Souls",7,9.31,7,1.33
696,Thunderfury Scimitar,5,17.25,163,3.45
701,Toothpick,3,12.09,182,4.03
704,"Torchlight, Bond of Storms",2,9.30,18,4.65
706,"Tranquility, Razor of Black Magic",5,8.75,149,1.75
711,Trickster,2,3.10,31,1.55
713,Twilight's Carver,4,9.12,123,2.28
717,Undead Crusader,1,4.50,134,4.50
718,Unending Tyranny,3,8.55,122,2.85
721,Unholy Wand,2,2.24,26,1.12
723,Vengeance Cleaver,7,14.35,53,2.05
730,Venom Claymore,4,5.16,124,1.29
734,Verdict,6,14.88,2,2.48
740,Victor Iron Spikes,4,17.60,66,4.40
744,Vindictive Glass Edge,3,6.81,55,2.27
747,War-Forged Gold Deflector,5,5.05,155,1.01
752,"Warmonger, Gift of Suffering's End",3,12.09,148,4.03
755,Warped Diamond Crusader,3,4.20,135,1.40
758,Warped Fetish,5,19.05,24,3.81
763,Warped Iron Scimitar,5,15.50,146,3.10
768,Whistling Mithril Warblade,2,2.00,125,1.00
770,Winter's Bite,8,30.16,72,3.77
778,"Winterthorn, Defender of Shifting Worlds",2,4.16,177,2.08
780,Woeful Adamantite Claymore,3,13.44,175,4.48
783,Wolf,8,28.32,60,3.54
791,"Wolf, Promise of the Moonwalker",6,26.88,179,4.48
797,Worldbreaker,4,10.40,112,2.60
801,Yearning Crusher,3,12.54,74,4.18
804,Yearning Mageblade,5,19.10,114,3.82

In [183]:
m1.sort_values(by= ["Price"], ascending= False)

                                Item Name  Price_x  Price_y  Item ID  Price
655                        Stormfury Mace        2     9.98       63   4.99
411               Mercy, Katana of Dismay        5    24.70      139   4.94
354     Hellreaver, Heirloom of Inception        3    14.79      147   4.93
653                   Stormfury Longsword        2     9.86      173   4.93
63          Blazeguard, Reach of Eternity        5    24.55      128   4.91
429                               Nirvana        9    44.10       82   4.90
416                          Misery's End        4    19.56      111   4.89
257                          Final Critic        8    39.04       92   4.88
90            Bone Crushing Silver Skewer        4    19.44      165   4.86
332                                Hatred        4    19.36       52   4.84
306                         Fusion Pummel        3    14.46       64   4.82
623               Spada, Etcher of Hatred        4    19.20      157   4.80
187      Downfall, Scalpel Of The Emperor        3    14.28      109   4.76
457                                 Orbit        3    14.25       41   4.75
589                 Singed Onyx Warscythe        3    14.22       95   4.74
465        Peacekeeper, Wit of Dark Magic        5    23.70      138   4.74
205                            Endbringer        1     4.66       51   4.66
704            Torchlight, Bond of Storms        2     9.30       18   4.65
60      Blazefury, Protector of Delusions        3    13.92       89   4.64
178       Despair, Favor of Due Diligence        4    18.40       57   4.60
146                                  Dawn        4    18.40       50   4.60
248                  Fiery Glass Crusader        9    41.22      145   4.58
717                       Undead Crusader        1     4.50      134   4.50
791       Wolf, Promise of the Moonwalker        6    26.88      179   4.48
780            Woeful Adamantite Claymore        3    13.44      175   4.48
166              Deluge, Edge of the West        5    22.15       87   4.43
44                             Azurewrath        6    26.40      160   4.40
317            Glimmer, Ender of the Moon        7    30.80       78   4.40
244                          Feral Katana        4    17.60      154   4.40
740                    Victor Iron Spikes        4    17.60       66   4.40
..                                    ...      ...      ...      ...    ...
220  Expiration, Warscythe Of Lost Worlds        4     6.84       99   1.71
85                     Bloodlord's Fetish        5     8.50        4   1.70
376          Lazarus, Terror of the Earth        4     6.80       17   1.70
527                         Reaper's Toll        5     8.30      181   1.66
212                      Exiled Doomblade        7    11.41      164   1.63
171                                Demise        7    11.27       71   1.61
403                              Massacre        4     6.40      121   1.60
293                     Frenzied Scimitar        6     9.36      143   1.56
711                             Trickster        2     3.10       31   1.55
238    Fate, Vengeance of Eternal Justice        6     9.24      129   1.54
662   Sun Strike, Jaws of Twisted Visions        2     2.96      168   1.48
664                            Suspension        7    10.08      110   1.44
301                                  Fury        5     7.20      131   1.44
570                              Serenity        4     5.64       13   1.41
755               Warped Diamond Crusader        3     4.20      135   1.40
689          Thorn, Satchel of Dark Souls        7     9.31        7   1.33
367               Hopeless Ebon Dualblade        5     6.65       46   1.33
730                        Venom Claymore        4     5.16      124   1.29
629                              Splinter        4     5.12        0   1.28
138                            Curved Axe        2     2.32       33   1.16
460                               Orenmir        5     5.70       32   1.14
721                           Unholy Wand        2     2.24       26   1.12
618                             Souleater        5     5.50       21   1.10
190                   Dragon's Greatsword        3     3.27      183   1.09
283      Flux, Destroyer of Due Diligence        2     2.12       28   1.06
363                            Hope's End        4     4.12       70   1.03
510         Pursuit, Cudgel of Necromancy        8     8.16       19   1.02
150                                 Dawne        6     6.12       12   1.02
747             War-Forged Gold Deflector        5     5.05      155   1.01
768            Whistling Mithril Warblade        2     2.00      125   1.00

[183 rows x 5 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [184]:
x = purchase_data_df.loc[:, ["Item ID","Price","Item Name"]]
x.head()

   Item ID  Price                                  Item Name
0      108   3.53  Extraction, Quickblade Of Trembling Hands
1      143   1.56                          Frenzied Scimitar
2       92   4.88                               Final Critic
3      100   3.27                                Blindscythe
4      131   1.44                                       Fury

In [189]:
y=Popular.groupby(["Item Name", "Item ID"])
p_count = y.count()
t_p_value = y.sum()
y.head()

     Item ID                                     Item Name  Price
0        108     Extraction, Quickblade Of Trembling Hands   3.53
1        143                             Frenzied Scimitar   1.56
2         92                                  Final Critic   4.88
3        100                                   Blindscythe   3.27
4        131                                          Fury   1.44
5         81                                     Dreamkiss   3.61
6        169        Interrogator, Blood Blade of the Queen   2.18
7        162                                 Abyssal Shard   2.67
8         21                                     Souleater   1.10
9        136                  Ghastly Adamantite Protector   3.58
10        95                         Singed Onyx Warscythe   4.74
11       162                                 Abyssal Shard   2.67
12       116                       Renewed Skeletal Katana   4.18
13         4                            Bloodlord's Fetish   1.70
14       165                   Bone Crushing Silver Skewer   4.86
15        98                   Deadline, Voice Of Subtlety   2.89
16        40                                 Second Chance   2.52
17       161                                        Devine   1.76
18        82                                       Nirvana   4.90
19        89             Blazefury, Protector of Delusions   4.64
20        57               Despair, Favor of Due Diligence   4.60
21       168           Sun Strike, Jaws of Twisted Visions   1.48
22        24                                 Warped Fetish   3.81
23       151                                     Severance   3.40
24       141                                    Persuasion   3.19
25       178  Oathbreaker, Last Hope of the Breaking Storm   4.23
26        71                                        Demise   1.61
27        96                   Blood-Forged Skeletal Spine   3.09
28       119     Stormbringer, Dark Blade of Ending Misery   4.32
29        37           Shadow Strike, Glory of Ending Hope   3.16
..       ...                                           ...    ...
731       12                                         Dawne   1.02
732       97                   Swan Song, Gouger Of Terror   2.50
733       66                            Victor Iron Spikes   4.40
734      165                   Bone Crushing Silver Skewer   4.86
736       58             Freak's Bite, Favor of Holy Might   4.14
737      149             Tranquility, Razor of Black Magic   1.75
738      121                                      Massacre   1.60
739       61                                      Ragnarok   3.87
740      127                  Heartseeker, Reaver of Souls   3.92
742        5                                    Putrid Fan   4.08
744       94                                Mourning Blade   3.49
747      146                          Warped Iron Scimitar   3.10
748       55                         Vindictive Glass Edge   2.27
750      167                   Malice, Legacy of the Queen   3.61
751      180                                   Stormcaller   3.36
752      112                                  Worldbreaker   2.60
754       79                           Alpha, Oath of Zeal   4.05
755       76                      Haunted Bronzed Bludgeon   3.15
756       73                                   Ritual Mace   2.05
757       57               Despair, Favor of Due Diligence   4.60
758      182                                     Toothpick   4.03
760       44                         Bonecarvin Battle Axe   2.38
761       17                  Lazarus, Terror of the Earth   1.70
764      113                             Solitude's Reaver   4.07
765      130                                         Alpha   2.07
766       58             Freak's Bite, Favor of Holy Might   4.14
774      101                                  Final Critic   4.19
777       67         Celeste, Incarnation of the Corrupted   3.46
778      101                                  Final Critic   4.19
779       50                                          Dawn   4.60

[697 rows x 3 columns]

In [206]:
s = pd.merge(p_count,t_p_value, on=["Item Name", "Item ID"])
s.head()
#y.head()
s1 = pd.merge(s, x, on=["Item Name","Item ID"])
s1.head()
s2 = m.drop_duplicates(["Item ID", "Item Name"])
s2.head()

                         Item Name  Price_x  Price_y  Item ID  Price
0                    Abyssal Shard        5    13.35      162   2.67
5   Aetherius, Boon of the Blessed        5    16.95      137   3.39
10                          Agatha        6    18.48      120   3.08
16                           Alpha        3     6.21      130   2.07
19             Alpha, Oath of Zeal        3    12.15       79   4.05

In [208]:
s3 = s2.sort_values(by= ["Price_x"], ascending= False)
s3.head()

,Item Name,Price_x,Price_y,Item ID,Price
438,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,178,4.23
224,"Extraction, Quickblade Of Trembling Hands",9,31.77,108,3.53
429,Nirvana,9,44.10,82,4.90
248,Fiery Glass Crusader,9,41.22,145,4.58
510,"Pursuit, Cudgel of Necromancy",8,8.16,19,1.02

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [210]:
s4 = s3.sort_values(by= ["Price_y"], ascending= False)
s4.head()

,Item Name,Price_x,Price_y,Item ID,Price
438,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,178,4.23
429,Nirvana,9,44.10,82,4.90
248,Fiery Glass Crusader,9,41.22,145,4.58
257,Final Critic,8,39.04,92,4.88
258,Final Critic,8,39.04,101,4.19

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80